<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Kirjavinkki sovellus</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    </head>
    <body>
        <h1>Tervetuloa JotainHauskaa kirjavinkki-sovellukseen</h1>
        <div class = "col-3">
            <a href="/lisaavinkki" class="btn btn-md btn-primary btn-block" >Lisää kirjavinkki</a>
            <a href="/selaa" class="btn btn-md btn-primary btn-block" >Katsele kirjavinkkejä</a>
            <a href="/hae" class="btn btn-md btn-primary btn-block" >Hae kirjavinkeistä</a>
        </div>
    </body>
</html>