<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Kirjavinkki sovellus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
    <header th:insert="fragments/header :: header"></header>
    <form class="form-signup" action="#" th:action="@{/paivitaVinkinTiedot}" th:object="${kirjaVinkki}" method="POST">
        <div class="container">
            <h2 class="form-signup-heading">Päivitä kirjavinkki</h2>
            <div class="col mb-1">
                <input id="kirjoittaja" name="kirjoittaja" th:field="${vinkki.kirjoittaja}" class="form-control"
                    placeholder="Kirjoittajan nimi" />
            </div>
            <div class="col mb-1">
                <input id="otsikko" name="otsikko" th:field="${vinkki.otsikko}" class="form-control"
                    placeholder="Otsake" />

            </div>
            <div class="col mb-1">
                <input id="tyyppi" name="tyyppi" th:field="${vinkki.tyyppi}" class="form-control"
                    placeholder="Tyyppi" />
            </div>
            <div class="col mb-1">
                <input id="isbn" name="isbn" th:field="${vinkki.isbn}" class="form-control" placeholder="ISBN" />
            </div>
            <div class="col mb-1">
                <input id="kuvaus" name="kuvaus" th:field="${vinkki.kuvaus}" class="form-control"
                    placeholder="Kuvaus" />
            </div>
            <div class="col mb-1">
                <textarea id="kommentti" name="kommentti" th:field="${vinkki.kommentti}" class="form-control"
                    placeholder="Kommentti" , rows="3"></textarea>
            </div>
            <div class="col mb-1">
                <input id="tagit" name="tagit" th:field="${vinkki.tagit}" class="form-control"
                    placeholder="Lisää tageja" />
            </div>
            <div class="col mb-1">
                <input id="kurssit" name="kurssit" th:field="${vinkki.kurssit}" class="form-control"
                    placeholder="Lisää aihealueeseen liittyviä kursseja" />
            </div>
            <div>
                <input type="hidden" th:field=${vinkki.id} />
            </div>
            <div class="col">
                <button class="btn btn-md btn-primary mt-2" type="submit">Lisää vinkki</button>
            </div>
        </div>
    </form>
</body>

</html>