<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Kirjavinkki sovellus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
    <h1>Lisätyt kirjavinkit</h1>
    <div th:if="${#lists.isEmpty(vinkit)}">
        <p>Ei lisättyjä vinkkejä</p>
    </div>
    <tr th:each="vinkki :${vinkit}">
        <div class="card bg-light text-dark mb-2 col-sm">

            <div class="card-body">
                <h3 class="card-title" th:text="${vinkki.otsikko}"></h3>
                Kirjoittaja: <span th:text="${vinkki.kirjoittaja}"></span><br>
                Tyyppi: <span th:text="${vinkki.tyyppi}"></span><br>
                ISBN: <span th:text="${vinkki.isbn}"></span><br>
                Kuvaus: <span th:text="${vinkki.kuvaus}"></span><br>
                Komentti: <span th:text="${vinkki.kommentti}"></span><br>
                Tagit: <span th:text="${vinkki.tagit[0]}"></span><br>
                Aihealueeseen liittyvät kurssit: <span th:text="${vinkki.kurssit[0]}"></span>
            </div>
        </div>

    </tr>
    <div class="col-3">
        <a href="/" class="btn btn-md btn-primary btn-block">Palaa etusivulle</a>
    </div>
</body>

</html>