<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Kirjavinkki sovellus</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>

<body>
    <h1>Lisätyt kirjavinkit</h1>
    <div th:if="${#lists.isEmpty(vinkit)}">
        <p>Ei lisättyjä vinkkejä</p>
    </div>
    <div th:each="vinkki :${vinkit}">
        <div class="card bg-light text-dark mb-2 col-sm">

            <div class="card-body">
                <h3 class="card-title" th:text="${vinkki.otsikko}"></h3>
                <div class ="col pl-0"> 
                    Kirjoittaja: <span th:text="${vinkki.kirjoittaja}">
                </div>
                <div class ="col pl-0"> 
                    Tyyppi: <span th:text="${vinkki.tyyppi}">
                </div>
                <div class ="col pl-0"> 
                    ISBN: <span th:text="${vinkki.isbn}">
                </div>
                <div class ="col pl-0"> 
                    Kuvaus: <span th:text="${vinkki.kuvaus}">
                </div>
                <div class ="col pl-0"> 
                    Kommentti: <span th:text="${vinkki.kommentti}">
                </div>
                <div class ="col pl-0"> 
                    Tagit: <span th:text="${vinkki.tagit[0]}">
                </div>
                <div class ="col pl-0"> 
                    Aihealueeseen liittyvät kurssit: <span th:text="${vinkki.kurssit[0]}">
                </div>
                <div class ="col pl-0"> 
                    Id: <span th:text="${vinkki.id}">
                </div>
                <div class="col-3">                                        
                    <a href="/" class="btn btn-md btn-primary btn-block">Päivitä Vinkki</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <a href="/" class="btn btn-md btn-primary btn-block">Palaa etusivulle</a>
    </div>
</body>

</html>